body{background-color: lightslategrey;
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
citation{
    font-family: monospace;
    font-size:  1em
}
#intro{
    font-style: oblique;
}